@import '../../styles/colors.scss';

.main {
  position: relative;
  margin: 0 auto;
  width: 100%;

  .inner {
    margin: 0 auto;
    padding: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    float: none;

    section {
      margin: 0 auto;
      padding: 0 40px;
      max-width: 1600px;
    }

    .mainSwiper {
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 120px;
      padding: 0;
      max-width: 100%;

      .mainSwiperInstance {
        position: relative;
        margin: 0 40px;
        padding: 0;
        overflow: hidden;
        max-width: 1600px;
        width: 100%;
        box-sizing: content-box;

        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          background-position: center;
          background-size: cover;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .swiper-pagination {
          bottom: 5%;

          .swiper-pagination-bullet {
            width: 24px;
            height: 2px;
            opacity: 0.6;
            background-color: #fff;
            margin: 0 12px;
          }

          .swiper-pagination-bullet-active {
            width: 24px;
            height: 2px;
            opacity: 1;
            background-color: #fff;
            margin: 0 12px;
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          color: #fff;
        }
      }
    }

    .productSection1 {
      margin-bottom: 160px;

      .textBox {
        margin-bottom: 48px;
        text-align: center;

        .font24 {
          font-size: 24px;
          font-weight: 500;
          line-height: 32px;
          color: $font-black;
        }

        .title2 {
          margin-top: 16px;
        }

        .font14 {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: $font-gray;
        }
      }

      .productBox {
        .productList {
          margin: 0;

          .products {
            margin: 0 -8px 0;
          }
        }

        .moreButton {
          position: relative;
          margin: 0 auto;
          width: 100%;
          text-align: center;

          .more {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 27px 0;
            border: 1px solid $border-gray2;
            border-left: none;
            border-right: none;
            background-color: #fff;
            text-align: center;
            transition: all 400ms;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            color: $font-black;

            &:hover {
              border-color: $font-black;
              background-color: #fff;
              color: $font-black;
              cursor: pointer;
            }
          }
        }
      }
    }

    .productSection2,
    .productSection3 {
      display: flex;
      margin-bottom: 16px;

      & > div {
        position: relative;
        width: 49.5%;
        height: 0;
        padding-top: 60%;
      }

      .textBox {
        margin-right: 16px;
        background-color: $background-white;

        .textInner {
          position: absolute;
          padding: 10%;
          top: 0;

          .text1 {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: $font-black;
          }

          .text2 {
            margin-top: 16px;

            a {
              font-size: 13px;
              font-weight: 400;
              line-height: 20px;
              color: $font-gray;
              text-decoration: underline;
            }
          }
        }
      }

      .bannerBox {
        a {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;

          picture {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;
            font-size: 0;
            overflow: hidden;

            img {
              min-width: 100%;
              min-height: 100%;
            }
          }
        }
      }
    }

    .mainBanner {
      margin-top: 160px;
      margin-bottom: 160px;

      .textBanner {
        padding: 3.75% 5%;
        background-color: $background-white;

        .text1 {
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
          color: $font-black;
        }

        .text2 {
          margin-top: 32px;

          a {
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            color: $font-gray;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .type1 {
    display: none !important;
  }
}
