@import '../../styles/colors.scss';

.main {
  position: relative;
  margin: 0 auto;
  width: 100%;

  .inner {
    margin: 0 auto;
    padding: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    float: none;

    section {
      margin: 0 auto;
      padding: 0 40px;
      max-width: 1600px;
    }

    .mainSwiper {
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 120px;
      padding: 0;
      max-width: 100%;

      .mainSwiperInstance {
        position: relative;
        margin: 0 40px;
        padding: 0;
        overflow: hidden;
        max-width: 1600px;
        width: 100%;
        box-sizing: content-box;

        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          background-position: center;
          background-size: cover;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .swiper-pagination {
          bottom: 5%;

          .swiper-pagination-bullet {
            width: 24px;
            height: 2px;
            opacity: 0.6;
            background-color: #fff;
            margin: 0 12px;
          }

          .swiper-pagination-bullet-active {
            width: 24px;
            height: 2px;
            opacity: 1;
            background-color: #fff;
            margin: 0 12px;
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          color: #fff;
        }
      }
    }

    .productSection1 {
      margin-bottom: 160px;

      .textBox {
        margin-bottom: 48px;
        text-align: center;

        .font24 {
          font-size: 24px;
          font-weight: 500;
          line-height: 32px;
          color: $font-black;
        }

        .title2 {
          margin-top: 16px;
        }

        .font14 {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: $font-gray;
        }
      }

      .productBox {
        .productList {
          margin: 0;

          .products {
            margin: 0 -8px 0;

            & > li {
              display: inline-block;
              margin: 0 0 18px;
              margin-bottom: 80px;
              vertical-align: top;
              width: 25%;
              color: $li-gray-75;

              .productItem {
                margin: 0 8px;

                .thumbnail {
                  position: relative;
                  margin: 0 0 10px;
                  width: auto;
                  text-align: center;

                  a {
                    text-decoration: none;

                    img {
                      vertical-align: middle;
                      width: 100%;
                      max-width: 100%;
                    }
                  }

                  .buttonBox {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    position: absolute;
                    top: inherit;
                    right: inherit;
                    bottom: 4%;
                    left: 0;
                    padding: 0 4%;
                    width: 100%;
                    height: max-content;
                    opacity: 0;
                    z-index: 2;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;

                    .cart {
                      display: block;
                      flex: 1;
                      padding: 5% 0;
                      width: 30px;
                      height: 16px;
                      border: 1px solid $border-gray;
                      font-size: 12px;
                      font-weight: 400;
                      line-height: 16px;
                      letter-spacing: 0.1em;
                      z-index: 1;
                      background-color: #fff;
                      color: $font-black2;
                      transition: all 0.3s;
                      cursor: pointer;

                      &::after {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 1;
                        content: 'Quick Add';
                        transform: translate(-50%, -50%);
                        text-align: center;
                        letter-spacing: 0;
                        font-weight: 500;
                        color: $font-black;
                      }
                    }

                    &:hover > span {
                      color: $font-black2;
                      border-color: $font-black2;
                    }
                  }

                  &:hover > .buttonBox {
                    opacity: 1;
                  }
                }

                .description {
                  position: relative;
                  margin: 24px 0 0;
                  line-height: 1;
                  font-size: 12px;
                  text-align: left;
                  white-space: normal;

                  .name {
                    margin-bottom: 4px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    a {
                      font-size: 13px;
                      color: #000;
                      text-decoration: none;

                      span {
                        line-height: 20px;
                        font-size: 13px !important;
                        font-weight: 500;
                        color: $font-black !important;
                      }
                    }
                  }

                  .spec {
                    margin: 0;
                    font-size: 0;

                    li {
                      margin: 0;
                      line-height: 1;

                      span {
                        font-size: 13px !important;
                        line-height: 20px;
                      }
                    }

                    .discountRate {
                      display: inline-block;
                    }

                    .salePrice {
                      display: inline-block;
                      margin-top: 16px;
                      margin-right: 8px;

                      span {
                        font-weight: 600;
                        color: $font-black !important;
                      }
                    }

                    .originalPrice {
                      display: inline-block;

                      span {
                        font-weight: 400 !important;
                        color: $font-gray2 !important;
                        text-decoration-line: line-through;
                      }
                    }

                    .color {
                      margin-top: 20px;

                      .itemColorSpan {
                        font-size: 0 !important;
                        line-height: 1;

                        .itemColor {
                          display: inline-block;
                          margin: 0;
                          max-width: 190px;
                          line-height: 1;
                          overflow: hidden;

                          .colorChips {
                            display: inline-block;
                            margin: 0 4px 0;
                            width: 14px;
                            height: 8px;
                            border: 1px solid $border-gray;
                            background-color: $gold-color; // 색깔 지정
                          }

                          .colorChips:first-child {
                            margin-left: 0;
                          }
                        }
                      }
                    }
                  }

                  & .discountRate {
                    display: none;
                    margin-right: 8px;
                    margin-top: 16px;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 20px;
                    color: $discount-rate;
                  }
                }
              }
            }
          }
        }

        .moreButton {
          position: relative;
          margin: 0 auto;
          width: 100%;
          text-align: center;

          .more {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 27px 0;
            border: 1px solid $border-gray2;
            border-left: none;
            border-right: none;
            background-color: #fff;
            text-align: center;
            transition: all 400ms;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            color: $font-black;

            &:hover {
              border-color: $font-black;
              background-color: #fff;
              color: $font-black;
            }
          }
        }
      }
    }

    .productSection2,
    .productSection3 {
      display: flex;
      margin-bottom: 16px;

      & > div {
        position: relative;
        width: 49.5%;
        height: 0;
        padding-top: 60%;
      }

      .textBox {
        margin-right: 16px;
        background-color: $background-white;

        .textInner {
          position: absolute;
          padding: 10%;
          top: 0;

          .text1 {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: $font-black;
          }

          .text2 {
            margin-top: 16px;

            a {
              font-size: 13px;
              font-weight: 400;
              line-height: 20px;
              color: $font-gray;
              text-decoration: underline;
            }
          }
        }
      }

      .bannerBox {
        a {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;

          picture {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;
            font-size: 0;
            overflow: hidden;

            img {
              min-width: 100%;
              min-height: 100%;
            }
          }
        }
      }
    }

    .mainBanner {
      margin-top: 160px;
      margin-bottom: 160px;

      .textBanner {
        padding: 3.75% 5%;
        background-color: $background-white;

        .text1 {
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
          color: $font-black;
        }

        .text2 {
          margin-top: 32px;

          a {
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            color: $font-gray;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .type1 {
    display: none !important;
  }
}
