$silver-color: #c0c0c0;
$rose-color: #fec0cb;
$gold-color: #d3be4b;
$font-black: #1a1a1a;
$font-black2: #2a2a2a;
$font-gray: #7a7a7a;
$font-gray2: #bababa;
$discount-rate: #dfbaa1;
$li-gray-6a: #6a6a6a;
$li-gray-75: #757575;
$border-gray: #e5e5e5;
$border-gray2: #e6e6e6;
$background-white: #f5f5f5;
$kakao-yellow: #fee500;
